.inputWrapper{
  display: flex;
  flex-direction: column;
  gap: 0;
}
.input {
  padding: 0.5rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.3125rem;
}
.input:focus {
  border-color: #007bff;
}
.errorWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.error {
  position: absolute;
  color: red;
  font-size: 0.875rem;
  white-space: nowrap;
}
