.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 18rem;
  margin: auto;
}
.actions {
  display: flex;
  justify-content: space-between;
}
